body{
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(26, 17, 104);
    width: 100%;
    color: white;
    background-size: cover;
    margin: auto;
}
.header .row .col-sm-6{
    padding: 2%;

    color: seashell;
}
.col-sm-6 a{
    color: seashell;
}
.content h2{
    color: seashell;
}
.navbar-nav{
    color: white;
}
#Picone{
    width: 100%;
}
#node1{
    border: 1px salmon solid; 
    color: salmon ; 
    background-color: rgb(252, 195, 145)  ; 
    border-radius: 15px 15px; 
    padding: 5px; 
    text-decoration: none;
}
#Three li a{
    color: white;
    text-decoration: none; 
}
#Three ul li{
    display: inline-block;
	padding-left:20px;
}
#pic5{
    width: 100%;
}
#pic7{
    width: 100%;
}
#footer{
    padding: 20px;
    float: right;
}
#footer ul li a {
text-decoration: none;
color: aliceblue;
}

#footer ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}